.centered-content, .breadcrumbs, section {
  margin: 0 auto;
  padding: 0 16px; }
  @media only screen and (min-width: 860px) {
    .centered-content, .breadcrumbs, section {
      max-width: 860px; } }
  @media only screen and (min-width: 860px) {
    .centered-content, .breadcrumbs, section {
      max-width: 1120px; } }

body {
  background-color: white;
  font-family: "Roboto", "Noto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a {
  color: #0066cc; }

.hero-image {
  background-color: #333;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 272px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
  text-shadow: 1px 1px 1px #000;
  position: relative; }
  @media only screen and (min-width: 860px) {
    .hero-image {
      font-size: 32px; } }
  .hero-image:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0; }
  .hero-image .airline-name {
    font-weight: 500; }
  .hero-image div, .hero-image img, .hero-image p, .hero-image h1, .hero-image lazy-image {
    z-index: 1; }
  .hero-image p {
    text-align: center;
    padding: 0 5px; }
    .hero-image p b {
      font-weight: 500;
      display: block; }
      @media only screen and (min-width: 860px) {
        .hero-image p b {
          display: inline; } }

.site-option {
  display: none;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  width: 25%;
  white-space: nowrap;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  overflow: hidden;
  box-sizing: border-box; }
  .web-components-loaded .site-option {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  .site-option:hover {
    color: #21a024;
    background-color: #f8fdf0; }
  .site-option.selected {
    font-weight: 500; }
  .site-option.even {
    cursor: default; }
    .site-option.even:hover {
      background-color: initial; }

.language-name {
  display: none;
  flex-grow: 1;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #000;
  text-decoration: none; }
  .web-components-loaded .language-name {
    display: block; }
  .language-name:hover {
    color: #21a024;
    background-color: #f8fdf0; }
  .language-name.selected {
    font-weight: 500; }

iron-icon.green-tick {
  --iron-icon-height: 16px;
  --iron-icon-width: 16px;
  --iron-icon-fill-color: #55c901;
  height: 16px;
  width: 16px;
  color: #55c901;
  height: 16px;
  width: 16px;
  color: #55c901;
  margin-left: 6px;
  margin-bottom: 0.2rem; }

.flag {
  margin-right: 0.5rem;
  display: inline-block;
  width: 16px;
  height: 11px;
  margin-top: 3px;
  background: url(https://res.cloudinary.com/wego/image/upload/f_auto,fl_lossy/v1509443604/makalu/flags.png) no-repeat; }

.flag.flag-ps {
  background-position: -64px -55px; }

.flag.flag-ch {
  background-position: 0 -11px; }

.flag.flag-nz {
  background-position: -112px -44px; }

.flag.flag-nl {
  background-position: -96px -44px; }

.flag.flag-de {
  background-position: -64px -11px; }

.flag.flag-hk {
  background-position: -48px -22px; }

.flag.flag-sg {
  background-position: -48px -66px; }

.flag.flag-ar {
  background-position: -32px 0; }

.flag.flag-jp {
  background-position: -48px -33px; }

.flag.flag-om {
  background-position: 0 -55px; }

.flag.flag-jo {
  background-position: -32px -33px; }

.flag.flag-bh {
  background-position: -80px 0; }

.flag.flag-dz {
  background-position: -80px -11px; }

.flag.flag-it {
  background-position: -16px -33px; }

.flag.flag-tr {
  background-position: -112px -66px; }

.flag.flag-cn {
  background-position: -32px -11px; }

.flag.flag-iq {
  background-position: -112px -22px; }

.flag.flag-co {
  background-position: -48px -11px; }

.flag.flag-vn {
  background-position: -32px -77px; }

.flag.flag-ir {
  background-position: 0 -33px; }

.flag.flag-mx {
  background-position: -48px -44px; }

.flag.flag-gh {
  background-position: -32px -22px; }

.flag.flag-qa {
  background-position: -96px -55px; }

.flag.flag-ie {
  background-position: -80px -22px; }

.flag.flag-pk {
  background-position: -32px -55px; }

.flag.flag-cl {
  background-position: -16px -11px; }

.flag.flag-tn {
  background-position: -96px -66px; }

.flag.flag-es {
  background-position: -112px -11px; }

.flag.flag-th {
  background-position: -80px -66px; }

.flag.flag-gb {
  background-position: -16px -22px; }

.flag.flag-sa {
  background-position: 0 -66px; }

.flag.flag-in {
  background-position: -96px -22px; }

.flag.flag-sd {
  background-position: -16px -66px; }

.flag.flag-tw {
  background-position: 0 -77px; }

.flag.flag-pl {
  background-position: -48px -55px; }

.flag.flag-ae {
  background-position: 0 0; }

.flag.flag-id {
  background-position: -64px -22px; }

.flag.flag-lk {
  background-position: -112px -33px; }

.flag.flag-ly {
  background-position: 0 -44px; }

.flag.flag-an {
  background-position: -16px 0; }

.flag.flag-ru {
  background-position: -112px -55px; }

.flag.flag-za {
  background-position: -48px -77px; }

.flag.flag-ng {
  background-position: -80px -44px; }

.flag.flag-bd {
  background-position: -64px 0; }

.flag.flag-pt {
  background-position: -80px -55px; }

.flag.flag-us {
  background-position: -16px -77px; }

.flag.flag-sy {
  background-position: -64px -66px; }

.flag.flag-lb {
  background-position: -96px -33px; }

.flag.flag-se {
  background-position: -32px -66px; }

.flag.flag-kw {
  background-position: -80px -33px; }

.flag.flag-fr {
  background-position: 0 -22px; }

.flag.flag-mo {
  background-position: -32px -44px; }

.flag.flag-ma {
  background-position: -16px -44px; }

.flag.flag-ca {
  background-position: -112px 0; }

.flag.flag-kr {
  background-position: -64px -33px; }

.flag.flag-au {
  background-position: -48px 0; }

.flag.flag-my {
  background-position: -64px -44px; }

.flag.flag-ph {
  background-position: -16px -55px; }

.flag.flag-br {
  background-position: -96px 0; }

.flag.flag-eg {
  background-position: -96px -11px; }

.breadcrumbs-container {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none; }
  @media only screen and (min-width: 860px) {
    .breadcrumbs-container {
      display: block; } }

.breadcrumbs {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  font-size: 14px;
  width: 100%;
  padding: 10px;
  color: #999; }
  .breadcrumbs a {
    color: #999;
    text-decoration: none; }
    .breadcrumbs a:hover {
      color: #fff; }
  .breadcrumbs li {
    padding: 0 10px; }
    .breadcrumbs li:not(:first-child):not(:last-child):after {
      content: "\2026"; }
      @media only screen and (min-width: 920px) {
        .breadcrumbs li:not(:first-child):not(:last-child):after {
          content: ""; } }
    .breadcrumbs li:not(:first-child):not(:last-child) a {
      display: none; }
      @media only screen and (min-width: 920px) {
        .breadcrumbs li:not(:first-child):not(:last-child) a {
          display: inline-block; } }

footer {
  background: #4A4A4A;
  color: #fff;
  padding: 40px 0;
  font-size: 14px;
  width: 100%; }

.footer {
  margin: 0 auto;
  max-width: 944px; }

.footer-links {
  display: flex; }
  .footer-links ul {
    width: 33.33%;
    padding: 0 20px; }
  .footer-links li {
    list-style-type: none;
    padding: 0.5rem 0; }
  .footer-links a {
    color: #fff;
    text-decoration: none; }
  .footer-links .footer-link-title {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 18px;
    text-transform: uppercase;
    padding: 0.5rem 0; }

.footer-copyright {
  text-align: center;
  border-bottom: 1px solid #6a6a6a;
  padding-bottom: 1rem;
  margin-top: 3rem; }

.footer-social {
  display: flex;
  justify-content: center; }
  .footer-social li {
    list-style-type: none;
    padding: 8px; }
  .footer-social a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgba(155, 155, 155, 0.4);
    font-size: 0; }
  .footer-social img {
    width: 40px;
    height: 40px; }

wego-sprite.facebook {
  background-position: 0px 0px;
  width: 40px;
  height: 40px; }

wego-sprite.instagram {
  background-position: 0px -42px;
  width: 40px;
  height: 40px; }

wego-sprite.linkedin {
  background-position: 0px -84px;
  width: 40px;
  height: 40px; }

wego-sprite.pinterest {
  background-position: 0px -126px;
  width: 40px;
  height: 40px; }

wego-sprite.rss {
  background-position: 0px -168px;
  width: 40px;
  height: 40px; }

wego-sprite.snapchat {
  background-position: 0px -210px;
  width: 40px;
  height: 40px; }

wego-sprite.telegram {
  background-position: 0px -252px;
  width: 40px;
  height: 40px; }

wego-sprite.twitter {
  background-position: 0px -294px;
  width: 40px;
  height: 40px; }

wego-sprite.youtube {
  background-position: 0px -336px;
  width: 40px;
  height: 40px; }

h3 {
  color: #4a4a4a;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px; }

h4 {
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 500; }

h5 {
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 300; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.wego-button {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  width: 232px;
  height: 40px;
  border-radius: 4px;
  padding: 0 16px;
  outline: none;
  border: 0;
  margin-bottom: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  .wego-button.green {
    color: white;
    background-color: #21a024;
    box-shadow: 0 2px 0 0 #007f03; }

.button iron-icon.search-icon {
  --iron-icon-fill-color: #fca328;
  --iron-icon-height: 21px;
  --iron-icon-width: 21px;
  color: #fca328;
  height: 21px;
  width: 21px; }

section {
  padding-top: 20px;
  padding-bottom: 10px; }
  section:last-of-type {
    padding-bottom: 20px; }

.popular-flight-destinations ul,
.popular-hotel-destinations ul {
  display: flex;
  flex-wrap: wrap; }
  .popular-flight-destinations ul li,
  .popular-hotel-destinations ul li {
    width: 100%;
    font-weight: 300;
    margin-bottom: 5px;
    font-size: 14px; }
    @media only screen and (min-width: 480px) {
      .popular-flight-destinations ul li,
      .popular-hotel-destinations ul li {
        width: 50%; } }
    @media only screen and (min-width: 860px) {
      .popular-flight-destinations ul li,
      .popular-hotel-destinations ul li {
        width: 33.33%; } }
    @media only screen and (min-width: 920px) {
      .popular-flight-destinations ul li,
      .popular-hotel-destinations ul li {
        width: 25%; } }

.popular-providers {
  flex-direction: column;
  justify-content: center;
  display: none; }
  .popular-providers.show {
    display: flex; }
  .popular-providers p {
    text-align: center;
    color: #9b9b9b;
    font-size: 18px;
    font-weight: 400;
    margin: 15px 0; }
  .popular-providers ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .popular-providers ul li {
      padding: 10px; }
  .popular-providers img, .popular-providers lazy-image {
    width: 80px;
    --lazy-image-width: 80px; }

.popular-airlines .airlines {
  display: flex;
  flex-wrap: wrap; }
  .popular-airlines .airlines div:nth-child(n+13) {
    display: none; }

.popular-airlines .airline {
  width: 50%;
  margin: 10px 0; }
  @media only screen and (min-width: 860px) {
    .popular-airlines .airline {
      width: calc(50% - 12px); } }
  @media only screen and (min-width: 920px) {
    .popular-airlines .airline {
      width: calc(25% - 12px); } }
  .popular-airlines .airline img, .popular-airlines .airline lazy-image {
    height: 40px;
    width: 40px;
    --lazy-image-height: 40px;
    --lazy-image-width: 40px;
    margin-right: 18px;
    display: inline; }

.popular-airlines a {
  display: flex;
  align-items: center;
  color: #333333; }
  .popular-airlines a:hover {
    text-decoration: underline; }

.is-showing-overlay {
  overflow: hidden; }
  .is-showing-overlay .overlay {
    display: block; }
  .is-showing-overlay.init-searchform #app-shell {
    position: fixed;
    top: -100%;
    width: 100%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
    z-index: 2;
    transition: top 0.15s ease; }
  .is-showing-overlay.is-showing-searchform #app-shell {
    top: -360px; }
  .is-showing-overlay .search-form-overlay {
    display: block; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer; }

.search-form-overlay {
  display: none;
  background: #F4F4F4;
  text-align: center;
  padding-top: 20px;
  position: relative;
  margin-bottom: -25px; }
  .search-form-overlay .overlay-close {
    padding: 10px 30px;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer; }
    .search-form-overlay .overlay-close:hover {
      color: #ccc; }

.custom-dropdown {
  display: inline-block;
  border: 1px solid #e4e4e4;
  position: relative;
  font-size: 13px;
  cursor: pointer;
  min-width: 200px;
  user-select: none; }
  .custom-dropdown.has-error {
    border: 1px solid #CC061B; }
    .custom-dropdown.has-error .display {
      background: rgba(204, 6, 26, 0.07); }
  .custom-dropdown .instruction {
    display: block; }
  .custom-dropdown .selection {
    display: none; }
  .custom-dropdown .dropdown {
    position: absolute;
    padding: 6px 4px 4px;
    display: none;
    z-index: 1;
    background: #fff;
    margin-top: 1px;
    box-shadow: 0px 3px 10px #ccc;
    width: calc(100% - 8px); }
    .custom-dropdown .dropdown .search-icon {
      position: absolute;
      left: 10px;
      top: 13px; }
    .custom-dropdown .dropdown input {
      border-radius: 2px;
      border: solid 1px #d8d8d8;
      width: calc(100% - 18px);
      font-size: 13px;
      padding: 8px;
      outline: none;
      margin-bottom: 5px;
      text-indent: 20px; }
  .custom-dropdown .display {
    padding: 8px;
    padding-right: 50px;
    min-height: 19px;
    unicode-bidi: plaintext; }
    .custom-dropdown .display:before {
      content: "";
      border-top: 5px solid #9b9b9b;
      position: absolute;
      right: 10px;
      top: 40%;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent; }
    .custom-dropdown .display:hover:before {
      border-top-color: #000; }
    .custom-dropdown .display .code:before {
      content: "("; }
    .custom-dropdown .display .code:after {
      content: ")"; }
    .custom-dropdown .display.is-selected .instruction {
      display: none; }
    .custom-dropdown .display.is-selected .selection {
      display: block; }
  .custom-dropdown.is-updating:before {
    display: block;
    position: absolute;
    bottom: 0;
    content: "";
    height: 2px;
    background-color: #666;
    animation: loading 2s linear infinite; }

@keyframes loading {
  from {
    left: 0px;
    width: 30%; }
  50% {
    width: 30%; }
  70% {
    width: 30%; }
  80% {
    left: 50%; }
  95% {
    left: 100%; }
  to {
    left: 80%; } }
  .custom-dropdown.focused .dropdown {
    display: block; }
  .custom-dropdown.focused .display:before {
    top: 25%;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #9b9b9b; }
  .custom-dropdown.focused ul {
    max-height: 335px;
    overflow: scroll;
    display: flex;
    flex-direction: column; }
  .custom-dropdown.focused li {
    display: block;
    padding: 10px 8px;
    background: #fff;
    cursor: pointer;
    position: relative;
    unicode-bidi: plaintext;
    order: 1; }
    .custom-dropdown.focused li.has-no-match {
      display: none; }
    .custom-dropdown.focused li.selected {
      border-bottom: 1px solid #d8d8d8;
      order: 0;
      color: #21a024; }
      .custom-dropdown.focused li.selected:before {
        content: "";
        width: 4px;
        height: 10px;
        border-right: 2px solid #21a024;
        border-bottom: 2px solid #21a024;
        position: absolute;
        right: 10px;
        top: 10px;
        transform: rotate(45deg); }
    .custom-dropdown.focused li:hover {
      background: #F8FDF1;
      color: #21a024; }
  .custom-dropdown li {
    display: none;
    padding-right: 50px; }

.dropdown-container {
  padding: 20px 0;
  display: inline-block; }
  .dropdown-container label {
    display: inline;
    font-size: 14px;
    color: #999; }

.fare-guide p.disclaimer {
  margin-bottom: 10px;
  color: #9b9b9b; }

.fare-guide .tooltip {
  position: fixed;
  display: none;
  font-size: 13px;
  font-weight: 300;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.3);
  transition: opacity 250ms ease-out, left 0ms 250ms linear;
  -moz-transition: opacity 250ms ease-out, left 0ms 250ms linear;
  padding: 5px 12px;
  position: absolute;
  z-index: 1;
  top: -50%;
  margin-top: 10px;
  white-space: nowrap;
  cursor: pointer;
  transform: translateY(-50%); }
  .fare-guide .tooltip:hover {
    background: #fafafa; }
    .fare-guide .tooltip:hover:after {
      border-right-color: #fafafa; }
  .fare-guide .tooltip:before {
    content: " ";
    top: calc(50% - 9px);
    background: transparent;
    border: 0px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: rgba(0, 0, 0, 0.2);
    border-width: 10px;
    z-index: 1;
    left: -20px; }
  .fare-guide .tooltip:after {
    content: " ";
    top: calc(50% - 10px);
    background: transparent;
    border: 0px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #fff;
    border-width: 10px;
    z-index: 1;
    left: -20px; }
  .fare-guide .tooltip.show {
    display: block; }
  .fare-guide .tooltip .tooltip-content > div {
    display: flex;
    flex-direction: column;
    padding: 5px 0; }
    .fare-guide .tooltip .tooltip-content > div.price-summary {
      border-bottom: dashed 1px #d8d8d8; }
    .fare-guide .tooltip .tooltip-content > div .starting-from {
      color: #999; }
    .fare-guide .tooltip .tooltip-content > div .dates {
      font-weight: 500; }
    .fare-guide .tooltip .tooltip-content > div .trip-details {
      font-style: italic;
      color: #666; }
    .fare-guide .tooltip .tooltip-content > div .button {
      position: absolute;
      right: 12px; }

.fare-guide .price-alert {
  background: #f0f0f0;
  padding: 3px;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.fare-guide .price-chart .tabs {
  display: none; }
  @media only screen and (min-width: 860px) {
    .fare-guide .price-chart .tabs {
      display: flex; } }
  .fare-guide .price-chart .tabs > div {
    width: 25%;
    padding: 16px;
    border-top: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    min-height: 55px; }
    .fare-guide .price-chart .tabs > div:first-of-type {
      border-top-left-radius: 4px; }
    .fare-guide .price-chart .tabs > div:last-of-type {
      border-right: 1px solid #d8d8d8;
      border-top-right-radius: 4px; }
    .fare-guide .price-chart .tabs > div .detail {
      color: #333; }
      @media only screen and (min-width: 860px) {
        .fare-guide .price-chart .tabs > div .detail {
          color: #21a024; } }
      .fare-guide .price-chart .tabs > div .detail img {
        margin-bottom: -10px; }
      .fare-guide .price-chart .tabs > div .detail.no-data {
        color: #d8d8d8; }
    .fare-guide .price-chart .tabs > div.is-active {
      border-bottom: none; }
      .fare-guide .price-chart .tabs > div.is-active .detail {
        color: #333; }
      .fare-guide .price-chart .tabs > div.is-active:before {
        content: " ";
        position: absolute;
        border-top: 4px solid #21a024;
        display: block;
        width: 100%;
        top: 0;
        left: 0; }
      .fare-guide .price-chart .tabs > div.is-active:after {
        content: " ";
        position: absolute;
        border-bottom: 1px solid #d8d8d8;
        display: block;
        width: calc(100% - 32px);
        bottom: 0;
        left: 16px; }
  .fare-guide .price-chart .tabs .heading {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    display: block;
    text-transform: capitalize; }
  .fare-guide .price-chart .tabs .detail {
    font-size: 20px;
    font-weight: 500;
    color: #21a024; }
    .fare-guide .price-chart .tabs .detail.no-data {
      color: #d8d8d8; }

.fare-guide .price-chart .tab-content {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-radius: 4px;
  display: block;
  margin-bottom: 8px;
  overflow: hidden; }
  @media only screen and (min-width: 860px) {
    .fare-guide .price-chart .tab-content {
      display: none;
      padding: 16px;
      border-top: none;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      margin-bottom: inherit; } }
  .fare-guide .price-chart .tab-content .header {
    padding: 16px;
    cursor: pointer; }
    @media only screen and (min-width: 860px) {
      .fare-guide .price-chart .tab-content .header {
        display: none; } }
    .fare-guide .price-chart .tab-content .header .heading {
      font-size: 16px;
      font-weight: 500;
      color: #333333;
      display: block;
      text-transform: capitalize; }
    .fare-guide .price-chart .tab-content .header .detail {
      font-size: 20px;
      font-weight: 500;
      color: #21a024; }
      .fare-guide .price-chart .tab-content .header .detail.no-data {
        color: #d8d8d8; }
  .fare-guide .price-chart .tab-content .content {
    display: none;
    padding: 16px; }
    .fare-guide .price-chart .tab-content .content .disclaimer {
      font-style: italic;
      margin-bottom: 0; }
    @media only screen and (min-width: 860px) {
      .fare-guide .price-chart .tab-content .content {
        display: flex;
        flex-direction: column;
        padding: 0; } }
  .fare-guide .price-chart .tab-content.is-active {
    border-color: #666569;
    border-width: 2px; }
    @media only screen and (min-width: 860px) {
      .fare-guide .price-chart .tab-content.is-active {
        display: block;
        border-color: #d8d8d8;
        border-width: 1px; } }
    .fare-guide .price-chart .tab-content.is-active .header {
      border-bottom: 1px solid #ccc;
      padding-bottom: 16px; }
    .fare-guide .price-chart .tab-content.is-active .content {
      display: flex;
      flex-direction: column; }

.fare-guide .price-chart .chart {
  margin-top: 16px;
  position: relative; }
  .fare-guide .price-chart .chart wego-price {
    font-size: 0.9em; }
  .fare-guide .price-chart .chart ul {
    display: flex;
    position: relative; }
  .fare-guide .price-chart .chart li {
    display: flex;
    cursor: pointer;
    position: relative; }
    .fare-guide .price-chart .chart li .short {
      display: block; }
      @media only screen and (min-width: 860px) {
        .fare-guide .price-chart .chart li .short {
          display: none; } }
    .fare-guide .price-chart .chart li .long {
      display: none; }
      @media only screen and (min-width: 860px) {
        .fare-guide .price-chart .chart li .long {
          display: block; } }
    .fare-guide .price-chart .chart li:before {
      content: " ";
      width: 100%;
      height: 100%;
      background: #CCC;
      position: absolute;
      top: 0;
      z-index: -1;
      opacity: 0.1;
      transition: opacity 0.2s ease-in;
      -moz-transition: opacity 0.2s ease-in; }
    .fare-guide .price-chart .chart li:hover:before {
      opacity: 0.3; }
    .fare-guide .price-chart .chart li:hover .bar {
      background: #52CB2F;
      color: #fff;
      opacity: 1; }
    .fare-guide .price-chart .chart li .bar {
      cursor: pointer;
      position: relative;
      content: " ";
      position: absolute;
      background: #c6ecaf;
      opacity: 0.5;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.2s ease-in, background 0.2s ease-in;
      -moz-transition: opacity 0.2s ease-in, background 0.2s ease-in; }
    .fare-guide .price-chart .chart li .bar-container .bar {
      display: block; }
    .fare-guide .price-chart .chart li .bar-container .bar-info {
      position: absolute;
      display: inline-block;
      color: #21a024; }
      .fare-guide .price-chart .chart li .bar-container .bar-info iron-icon {
        --iron-icon-fill-color: #21a024;
        --iron-icon-height: 11px;
        --iron-icon-width: 11px;
        color: #21a024;
        height: 11px;
        width: 11px;
        margin-top: -2px;
        margin-right: 5px; }
        @media only screen and (min-width: 860px) {
          .fare-guide .price-chart .chart li .bar-container .bar-info iron-icon {
            margin-right: 0; } }
    .fare-guide .price-chart .chart li .bar-container.lowest .bar {
      background: #21a024;
      opacity: 0.7; }
    .fare-guide .price-chart .chart li .bar-container.lowest .bar-info {
      color: #166918; }
      .fare-guide .price-chart .chart li .bar-container.lowest .bar-info iron-icon {
        --iron-icon-fill-color: #166918;
        color: #166918; }
  .fare-guide .price-chart .chart .chart-footer {
    display: flex; }
    .fare-guide .price-chart .chart .chart-footer > div {
      color: #999; }
      .fare-guide .price-chart .chart .chart-footer > div .label > span {
        right: -1px;
        position: absolute;
        background: #fff;
        z-index: 1;
        width: 100px;
        padding: 10px 0;
        left: auto;
        text-align: right; }
        @media only screen and (min-width: 860px) {
          .fare-guide .price-chart .chart .chart-footer > div .label > span {
            left: -50px;
            text-align: center; } }
      .fare-guide .price-chart .chart .chart-footer > div:after {
        content: " ";
        position: absolute; }
  .fare-guide .price-chart .chart[data-axis=horizontal] {
    margin-top: 30px;
    height: 350px;
    padding-bottom: 50px;
    padding-left: 100px;
    margin-right: 30px; }
    .fare-guide .price-chart .chart[data-axis=horizontal] ul {
      flex-direction: row;
      width: 100%;
      height: 100%;
      border-bottom: 2px solid #29292A; }
    .fare-guide .price-chart .chart[data-axis=horizontal] li {
      height: 100%;
      width: calc((100% / 12) - 40px);
      margin: 0 20px;
      flex-direction: column-reverse; }
      .fare-guide .price-chart .chart[data-axis=horizontal] li .bar-label {
        margin-bottom: -40px;
        text-align: center;
        height: 30px;
        padding-top: 10px;
        line-height: 16px;
        font-size: 13px; }
      .fare-guide .price-chart .chart[data-axis=horizontal] li .bar-container {
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        position: relative; }
        .fare-guide .price-chart .chart[data-axis=horizontal] li .bar-container wego-price {
          display: none; }
      .fare-guide .price-chart .chart[data-axis=horizontal] li .bar {
        height: 0;
        transition: height 0.7s ease-in-out, color 0.2s ease-in-out, background 0.2s ease-in-out;
        -moz-transition: height 0.7s ease-in-out, color 0.2s ease-in-out, background 0.2s ease-in-out; }
      .fare-guide .price-chart .chart[data-axis=horizontal] li .bar-info {
        display: flex;
        justify-content: center;
        width: 100%;
        bottom: 10px; }
    .fare-guide .price-chart .chart[data-axis=horizontal] .chart-footer {
      flex-direction: column-reverse;
      height: calc(100% - 30px);
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      text-align: left; }
      .fare-guide .price-chart .chart[data-axis=horizontal] .chart-footer > div {
        height: 33.33%;
        position: relative; }
        .fare-guide .price-chart .chart[data-axis=horizontal] .chart-footer > div .label > span {
          left: 0;
          width: 80px;
          height: 20px;
          top: -10px;
          padding: 0 10px 10px; }
        .fare-guide .price-chart .chart[data-axis=horizontal] .chart-footer > div:after {
          border-top: 1px dashed #D9D9D9;
          top: 0;
          width: 100%;
          left: 0; }
    .fare-guide .price-chart .chart[data-axis=horizontal].time .segment-minimums {
      display: none; }
    .fare-guide .price-chart .chart[data-axis=horizontal].time li {
      width: calc((100% / 24) - 16px);
      margin: 0 8px; }
      .fare-guide .price-chart .chart[data-axis=horizontal].time li:nth-child(6n):after {
        content: " ";
        border-right: 1px solid #d8d8d8;
        height: 100%;
        position: absolute;
        right: -16px; }
      .fare-guide .price-chart .chart[data-axis=horizontal].time li:last-of-type:after {
        border: none; }
    .fare-guide .price-chart .chart[data-axis=horizontal].time .time-sections {
      padding-top: 10px;
      display: flex; }
      .fare-guide .price-chart .chart[data-axis=horizontal].time .time-sections > div {
        width: 25%;
        text-align: center; }
        .fare-guide .price-chart .chart[data-axis=horizontal].time .time-sections > div span {
          display: block;
          color: #999; }
  .fare-guide .price-chart .chart[data-axis=vertical] {
    margin-left: 40px;
    padding-bottom: 25px; }
    @media only screen and (min-width: 860px) {
      .fare-guide .price-chart .chart[data-axis=vertical] {
        margin-right: 50px;
        margin-left: 120px; } }
    .fare-guide .price-chart .chart[data-axis=vertical] .time-sections {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: -40px;
      height: 100%; }
      .fare-guide .price-chart .chart[data-axis=vertical] .time-sections.short {
        display: block; }
        @media only screen and (min-width: 860px) {
          .fare-guide .price-chart .chart[data-axis=vertical] .time-sections.short {
            display: none; } }
      .fare-guide .price-chart .chart[data-axis=vertical] .time-sections.long {
        display: none; }
        @media only screen and (min-width: 860px) {
          .fare-guide .price-chart .chart[data-axis=vertical] .time-sections.long {
            display: block; } }
      .fare-guide .price-chart .chart[data-axis=vertical] .time-sections > div {
        height: 25%;
        width: 40px;
        overflow: hidden; }
        .fare-guide .price-chart .chart[data-axis=vertical] .time-sections > div span {
          display: block;
          color: #999; }
    .fare-guide .price-chart .chart[data-axis=vertical] ul {
      flex-direction: column;
      align-items: flex-end;
      border-left: 2px solid #29292A; }
    .fare-guide .price-chart .chart[data-axis=vertical] li {
      margin: 8px 0;
      width: 100%;
      min-height: 10px; }
      @media only screen and (min-width: 860px) {
        .fare-guide .price-chart .chart[data-axis=vertical] li {
          min-height: 30px;
          margin: 10px 0; } }
      .fare-guide .price-chart .chart[data-axis=vertical] li .bar-label {
        width: 40px;
        display: flex;
        align-items: center;
        margin-left: -40px;
        overflow: hidden;
        text-transform: uppercase; }
        @media only screen and (min-width: 860px) {
          .fare-guide .price-chart .chart[data-axis=vertical] li .bar-label {
            text-transform: inherit;
            width: 120px;
            margin-left: -120px;
            min-height: 30px; } }
      .fare-guide .price-chart .chart[data-axis=vertical] li .bar-container {
        width: 100%;
        position: relative; }
      .fare-guide .price-chart .chart[data-axis=vertical] li .bar {
        width: 0%;
        height: 100%;
        transition: width 0.7s ease-in-out, color 0.2s ease-in-out, background 0.2s ease-in-out;
        -moz-transition: width 0.7s ease-in-out, color 0.2s ease-in-out, background 0.2s ease-in-out;
        text-indent: 10px;
        line-height: 32px; }
      .fare-guide .price-chart .chart[data-axis=vertical] li .bar-info {
        top: 0;
        right: 10px;
        left: auto;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        height: 100%; }
        @media only screen and (min-width: 860px) {
          .fare-guide .price-chart .chart[data-axis=vertical] li .bar-info {
            top: 4px;
            right: auto;
            left: 10px;
            font-weight: 400;
            display: inline;
            height: auto; } }
    .fare-guide .price-chart .chart[data-axis=vertical] .chart-footer {
      display: flex;
      width: 100%;
      margin-left: 33.33%; }
      .fare-guide .price-chart .chart[data-axis=vertical] .chart-footer > div {
        width: 33.33%; }
        .fare-guide .price-chart .chart[data-axis=vertical] .chart-footer > div .label {
          position: absolute; }
        .fare-guide .price-chart .chart[data-axis=vertical] .chart-footer > div:after {
          border-right: 1px dashed #D9D9D9;
          height: 100%;
          bottom: 0; }
    .fare-guide .price-chart .chart[data-axis=vertical].time .segment-minimums {
      position: absolute;
      right: 10px;
      display: flex;
      height: 100%;
      text-align: right;
      flex-direction: column;
      z-index: 1;
      color: #21a024;
      top: -10px;
      font-weight: 500;
      font-size: 16px; }
      .fare-guide .price-chart .chart[data-axis=vertical].time .segment-minimums span {
        height: 25%;
        display: flex;
        align-items: center; }
    .fare-guide .price-chart .chart[data-axis=vertical].time li {
      margin: 0 0 10px; }
      .fare-guide .price-chart .chart[data-axis=vertical].time li:nth-child(6n + 6):before {
        height: 100%; }
      .fare-guide .price-chart .chart[data-axis=vertical].time li:before {
        height: calc(100% + 10px); }
      .fare-guide .price-chart .chart[data-axis=vertical].time li:hover:before {
        opacity: 0.1; }
      .fare-guide .price-chart .chart[data-axis=vertical].time li .bar-info {
        display: none; }
        @media only screen and (min-width: 860px) {
          .fare-guide .price-chart .chart[data-axis=vertical].time li .bar-info {
            display: inherit; } }

.fare-guide .no-data-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px; }
  .fare-guide .no-data-content .heading {
    color: #757575;
    font-weight: 500;
    font-size: 18px; }
  .fare-guide .no-data-content p {
    font-size: 16px;
    color: #afafaf;
    line-height: 1;
    padding: 20px; }
  .fare-guide .no-data-content .button {
    text-transform: uppercase;
    color: #21a024;
    font-size: 14px;
    padding: 16px 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 #0000005c;
    background-color: #ffffff;
    border: solid 1px #dfdfdf; }

.route-map {
  display: none; }
  @media only screen and (min-width: 860px) {
    .route-map {
      display: block; }
      .route-map.has-no-routes {
        display: none; } }
  .route-map .info {
    background: #f0f0f0;
    padding: 15px;
    font-size: 14px; }
  .route-map #map {
    position: relative;
    background: #9CCAFF;
    height: 550px; }
  .route-map .marker {
    position: relative;
    width: 9px;
    height: 9px;
    border-radius: 9px;
    border: 2px solid #fff;
    background: #817f85;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    opacity: 1; }
    .route-map .marker:hover, .route-map .marker.active {
      z-index: 1;
      transform: scale(1.2);
      transition: .2s ease-in-out;
      box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.5); }
    .route-map .marker.direct.active, .route-map .marker.direct:hover {
      background: #0066cc; }
    .route-map .marker.indirect.active, .route-map .marker.indirect:hover {
      background: #ff9b35; }
    .route-map .marker.dim {
      opacity: 0.1; }
    .route-map .marker:hover .tooltip, .route-map .marker.selected .tooltip {
      display: block; }
    .route-map .marker .tooltip {
      display: none;
      width: 120px;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 4px;
      padding: 10px;
      position: absolute;
      z-index: 1;
      bottom: 200%;
      left: 50%;
      margin-left: -70px;
      opacity: 0.9; }
      .route-map .marker .tooltip.top::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-top: -1px;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #333 transparent transparent transparent; }
      .route-map .marker .tooltip .city-country {
        font-size: 13px;
        font-weight: 500; }
      .route-map .marker .tooltip .timezone {
        font-size: 11px;
        font-weight: 400;
        font-style: italic; }
  .route-map .info-window {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: #fff;
    border-radius: 4px;
    padding: 7px;
    box-sizing: border-box; }
    .route-map .info-window div.information {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 42px;
      font-size: 13px;
      margin-bottom: 5px; }
      .route-map .info-window div.information .duration {
        font-weight: 500;
        color: #333; }
      .route-map .info-window div.information .flight-type {
        font-weight: 400;
        font-style: italic;
        color: #666; }
      .route-map .info-window div.information .search-button {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #f4f4f4;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; }
        .route-map .info-window div.information .search-button iron-icon {
          --iron-icon-height: 16px;
          --iron-icon-width: 16px;
          --iron-icon-fill-color: #fca328;
          height: 16px;
          width: 16px;
          color: #fca328; }
    .route-map .info-window div.separator {
      border-width: 2px 0 0 0;
      border-style: dashed;
      border-color: #d8d8d8; }
    .route-map .info-window div.airlines {
      display: flex;
      align-items: center;
      height: 42px; }
      .route-map .info-window div.airlines img.airline {
        margin: 4px;
        width: 24px;
        height: 24px; }
      .route-map .info-window div.airlines div.extra-airlines {
        display: flex;
        width: 24px;
        height: 24px;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        background-color: #f0f0f0;
        font-size: 10px;
        font-weight: 500; }
  .route-map .info-window::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: -4px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 6px solid transparent;
    border-top: 15px solid #fff;
    transform: rotate(45deg); }

.route-information {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 860px) {
    .route-information {
      flex-direction: row; } }
  .route-information > div {
    font-weight: 300; }
  .route-information .main {
    flex-grow: 4; }
    .route-information .main > div {
      margin-bottom: 24px;
      color: #666; }
    .route-information .main li {
      list-style-type: disc;
      list-style-position: outside;
      line-height: 2; }
      .route-information .main li strong {
        font-weight: 500; }
  @media only screen and (min-width: 860px) {
    .route-information .sidebar {
      width: 290px;
      padding-left: 16px; } }
  .route-information .sidebar > div {
    margin-bottom: 24px; }

.custom-dropdown {
  border: none;
  position: absolute;
  top: calc(100% - 2.4em);
  width: 100%; }
  .custom-dropdown .display {
    padding: 0;
    color: #333;
    font-size: 14px; }
    .custom-dropdown .display:before {
      display: none; }
  .custom-dropdown .dropdown {
    margin-top: 9px;
    border-top: 2px solid #279f07; }

@media only screen and (min-width: 860px) {
  .schedules .schedules-table ul > li.time {
    width: 15%; } }

.schedules .schedules-table ul > li.time.return {
  flex-direction: column-reverse; }

@media only screen and (min-width: 860px) {
  .schedules .schedules-table ul > li.airline {
    width: 25%; } }

@media only screen and (min-width: 860px) {
  .schedules .schedules-table ul > li.flight {
    width: 8%; } }

@media only screen and (min-width: 860px) {
  .schedules .schedules-table ul > li.duration {
    width: 16%; } }

.schedules .schedules-table ul > li.availability {
  justify-content: space-between; }
  @media only screen and (min-width: 860px) {
    .schedules .schedules-table ul > li.availability {
      width: 20%; } }

.schedules .schedules-header,
.schedules .schedules-row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px; }
  @media only screen and (min-width: 860px) {
    .schedules .schedules-header,
    .schedules .schedules-row {
      padding-top: 0;
      padding-bottom: 0; } }
  @media only screen and (min-width: 860px) {
    .schedules .schedules-header,
    .schedules .schedules-row {
      flex-wrap: nowrap; } }
  .schedules .schedules-header > li,
  .schedules .schedules-row > li {
    min-height: 30px;
    display: flex;
    width: calc(50% - 10px);
    position: initial; }
    @media only screen and (min-width: 860px) {
      .schedules .schedules-header > li,
      .schedules .schedules-row > li {
        padding: 8px 12px;
        position: relative; } }

.schedules .schedules-header {
  display: none;
  border-bottom: 1px solid #999; }
  .schedules .schedules-header > li {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .schedules .schedules-header > li.sorter:hover, .schedules .schedules-header > li.filter:hover {
      background: #fafafafa; }
  .schedules .schedules-header .label {
    width: 100%;
    color: #999; }
  @media only screen and (min-width: 860px) {
    .schedules .schedules-header {
      display: flex; } }
  .schedules .schedules-header .has-dropdown .label {
    position: relative; }
    .schedules .schedules-header .has-dropdown .label:after {
      content: "\2303";
      color: #333;
      transform: rotate(180deg);
      display: inline-block;
      margin: 0 10px;
      position: absolute;
      top: -3px; }
  .schedules .schedules-header .has-dropdown:hover {
    cursor: pointer;
    user-select: none; }
  .schedules .schedules-header .has-dropdown.is-expanded > ul {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    background: #fff;
    display: block;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 3px 5px #ccc;
    border-top: 2px solid #279f07; }
  .schedules .schedules-header .has-dropdown.is-expanded li {
    padding: 10px;
    position: relative; }
    .schedules .schedules-header .has-dropdown.is-expanded li:hover {
      background: #F8FDF1; }
  .schedules .schedules-header .sorter .selection {
    color: #333; }
  .schedules .schedules-header .sorter ul {
    display: none; }
  .schedules .schedules-header .sorter li.selected {
    color: #21a024; }
    .schedules .schedules-header .sorter li.selected:after {
      content: "";
      width: 4px;
      height: 10px;
      border-right: 2px solid #21a024;
      border-bottom: 2px solid #21a024;
      position: absolute;
      right: 10px;
      top: 10px;
      transform: rotate(45deg); }
  .schedules .schedules-header .filter {
    display: flex;
    flex-direction: column;
    align-items: start; }
    .schedules .schedules-header .filter ul {
      display: flex; }
    .schedules .schedules-header .filter.availability .selected {
      border-bottom: none;
      color: #21a024;
      margin-bottom: 1px; }
    .schedules .schedules-header .filter.availability li {
      width: 10px;
      margin-left: 0px;
      margin-right: 10px;
      color: #333;
      border-bottom: 1px solid #333; }
      .schedules .schedules-header .filter.availability li:hover {
        cursor: pointer; }
  .schedules .schedules-header .custom-dropdown {
    left: 0; }
    .schedules .schedules-header .custom-dropdown .display {
      padding-left: 12px; }
      .schedules .schedules-header .custom-dropdown .display br {
        display: none; }
    .schedules .schedules-header .custom-dropdown .dropdown {
      margin-top: 8px; }
    .schedules .schedules-header .custom-dropdown .selected {
      border-bottom: none; }
    .schedules .schedules-header .custom-dropdown .show-all {
      font-weight: 500;
      order: -1;
      border-bottom: 1px solid #d8d8d8; }
      .schedules .schedules-header .custom-dropdown .show-all.selected {
        font-weight: 400; }

.schedules .schedules-row {
  color: #999;
  display: none;
  border-bottom: 1px solid #e4e4e4;
  position: relative; }
  .schedules .schedules-row.selected.matches-airline {
    display: flex; }
  .schedules .schedules-row li {
    flex-direction: column;
    justify-content: center;
    align-items: start; }
    .schedules .schedules-row li div {
      width: 100%;
      unicode-bidi: bidi-override; }
      .schedules .schedules-row li div:only-child {
        margin-top: 0; }
    .schedules .schedules-row li .item-2 {
      margin-top: 10px; }
  .schedules .schedules-row .time {
    font-weight: 500; }
    .schedules .schedules-row .time .code,
    .schedules .schedules-row .time .stopover {
      font-weight: 300;
      color: #9C9C9C; }
    .schedules .schedules-row .time .stopover {
      display: none; }
      @media only screen and (min-width: 860px) {
        .schedules .schedules-row .time .stopover {
          display: inline-block; } }
  .schedules .schedules-row .airline div {
    display: flex;
    align-items: center; }
  .schedules .schedules-row .airline img, .schedules .schedules-row .airline lazy-image {
    width: 24px;
    height: 24px;
    display: inline-block;
    --lazy-image-width: 24px;
    --lazy-image-height: 24px;
    margin-right: 10px; }
  .schedules .schedules-row .flight .flight-number {
    color: #333;
    margin-right: 10px; }
  .schedules .schedules-row .availability {
    flex-direction: row;
    align-items: center; }
    .schedules .schedules-row .availability ul {
      display: flex; }
    .schedules .schedules-row .availability li {
      width: 10px;
      margin-left: 0;
      margin-right: 7px; }
      @media only screen and (min-width: 860px) {
        .schedules .schedules-row .availability li {
          margin-left: 3px;
          margin-right: 3px; } }
      @media only screen and (min-width: 920px) {
        .schedules .schedules-row .availability li {
          margin-left: 0px;
          margin-right: 10px; } }
    .schedules .schedules-row .availability .expand-button {
      font-size: 30px;
      margin-top: -20px;
      color: #d8d8d8;
      cursor: pointer; }
  .schedules .schedules-row .flight > div:nth-child(2),
  .schedules .schedules-row .airline > div:nth-child(2) {
    margin-top: 10px; }
  .schedules .schedules-row .time,
  .schedules .schedules-row .airline {
    color: #333333; }
  .schedules .schedules-row .arrival-offset {
    padding: 0 5px;
    color: #666;
    background: #efefef;
    margin-left: 5px;
    border-radius: 3px;
    font-weight: 300;
    font-size: 12px; }
  .schedules .schedules-row .has-tooltip {
    position: relative; }
    .schedules .schedules-row .has-tooltip .tooltip {
      display: none;
      font-size: 13px;
      font-weight: 300;
      color: #fff;
      border-radius: 4px;
      background: rgba(0, 0, 0, 0.7);
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
      transition: opacity 250ms ease-out, left 0ms 250ms linear;
      padding: 10px 12px;
      position: absolute;
      z-index: 1;
      text-align: center;
      top: 100%;
      margin-top: 10px;
      white-space: nowrap;
      pointer-events: none;
      left: 50%;
      transform: translate(-50%); }
      .schedules .schedules-row .has-tooltip .tooltip:after {
        content: " ";
        top: -20px;
        background: transparent;
        border: solid rgba(0, 0, 0, 0);
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: rgba(0, 0, 0, 0.7);
        border-width: 10px;
        z-index: 9999;
        left: calc(50% - 10px); }
    .schedules .schedules-row .has-tooltip:hover {
      cursor: pointer; }
      .schedules .schedules-row .has-tooltip:hover .tooltip {
        display: block; }

.schedules .schedules-connecting h3, .schedules .schedules-connecting h5 {
  background: #FAFAFA;
  margin: 0;
  padding: 15px 10px;
  font-weight: 400; }

.schedules .schedules-connecting .schedules-row .flight {
  display: none; }
  @media only screen and (min-width: 860px) {
    .schedules .schedules-connecting .schedules-row .flight {
      display: block; } }

.schedules .schedules-connecting .schedules-row .availability {
  width: calc(100% - 16px); }
  @media only screen and (min-width: 860px) {
    .schedules .schedules-connecting .schedules-row .availability {
      width: 20%; } }

.schedules.is-updating .schedules-section,
.schedules.is-updating .error-msg {
  opacity: 0.2; }

.schedules .error-msg {
  display: none; }

.schedules.has-error .schedules-section {
  display: none; }

.schedules.has-error .error-msg {
  display: block; }

@media only screen and (min-width: 860px) {
  .schedules .button {
    background: none;
    border-radius: 0;
    height: 22px;
    width: 22px;
    cursor: pointer; } }

.schedules .no-schedules-msg {
  display: none;
  text-align: center;
  padding: 30px; }
  .schedules .no-schedules-msg:before {
    content: " ! ";
    color: #B9BAB7;
    border: 10px solid #B9BAB7;
    border-radius: 100px;
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 50px;
    line-height: 55px; }
  .schedules .no-schedules-msg .header {
    display: block;
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 0.88em;
    text-transform: capitalize; }
  .schedules .no-schedules-msg .main-text {
    display: block;
    text-align: center;
    font-size: 15px;
    color: #999999; }
  .schedules .no-schedules-msg .reset-button {
    display: inline-block;
    color: #279F07;
    font-size: 16px;
    font-weight: 500;
    background: #fff;
    border-radius: 999px;
    border: 1px solid #DFDFDF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.36);
    padding: .625em 1.5em .75em;
    cursor: pointer;
    margin: 20px;
    transition: color 200ms ease-in-out;
    text-transform: capitalize;
    clear: both; }

.schedules.no-schedules .no-schedules-msg {
  display: block; }

.schedules.no-connecting-schedules .schedules-connecting h3, .schedules.no-connecting-schedules .schedules-connecting h5 {
  display: none; }

